#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: Poppins, sans-serif;
}
body{
    background-color: #242424;
    color: white;
}
.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
select{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 15px;
    background-color: #242424;
    color: white;
    box-shadow: #1a1a1a 1px 1px 1px ;
}
.dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;
}
ul{
    display: flex;
    flex-direction: column;
    column-count: 3;

}
.negative{
    width: 50px;
    height: 50px;
    color: #3c006b;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    background: #30cfd0;
    border-radius: 0;
}
.negative:hover{
    background: #3c006b;
    color: #30cfd0;

}
.negative:active{
    transform: translate(5px,5px);
    transition-duration: .3s;
}
.plus{
    width: 50px;
    height: 50px;
    color: #3c006b;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    background: #30cfd0;
    border-radius: 0;
}
.plus:hover{
    background: #3c006b;
    color: #30cfd0;
}
.plus:active{
    transform: translate(5px,5px);
    transition-duration: .3s;
}
.grocery-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-bottom: 8px;
}

.grocery-row button {
    margin-left: 20px;
}
.remove{
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #30cfd0;
    border: none;
    border-radius: 0;
    color: #3c006b;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
}
.remove::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    border-radius: 50%;
    left: -160%;
    top: 0;
    transition-duration: .3s;

}
.remove:hover{
    background-color: #3c006b;
    color: #30cfd0;
}
.remove:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
    color: #30cfd0;
    border-radius: 0;
}
.remove:active{
    transform: translate(5px,5px);
    transition-duration: .3s;
}


.checkbox{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #30cfd0;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}
.checkbox:before {
    content: "";
    background-color: #30cfd0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}
.checkbox:checked:before {
    transform: translate(-50%, -50%) scale(1);
}
.

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}