#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: Poppins, sans-serif;
}
body{
    background-color: #242424;
    color: white;
}
.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
select{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 15px;
}
.dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;
}
ul{
    display: flex;
    flex-direction: column;
    column-count: 3;

}
.negative{
    width: 50px;
    height: 50px;
}
.plus{
    width: 50px;
    height: 50px;
}
.grocery-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin-bottom: 8px;
}

.grocery-row button {
    margin-left: 20px;
}

.remove {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    overflow: hidden;
    transition-duration: .3s;
}
.remove:before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    left: -130%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
}
.remove:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
}
.remove:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
}
.remove:hover {
    scale: 1;
}
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}